/* Smooth transition for navbar */
.animated-navbar {
  transform: translateY(-20px);
  opacity: 0;
  transition:
    transform 0.5s ease-out,
    opacity 0.5s ease-in-out;
  pointer-events: none;
}

.animated-navbar.show {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

/* Custom Navbar Background - Light Black Theme */
.custom-navbar {
  background: #333; /* Light Black Gradient */
  padding: 12px 25px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

/* Navbar Links */
.custom-navbar .nav-link {
  color: rgba(255, 255, 255, 0.85) !important; /* Light Grayish White */
  font-weight: 600;
  position: relative;
  display: inline-block;
  transition:
    color 0.3s ease,
    transform 0.3s ease;
  text-align: center;
}

/* Hover Effect - Center Line */
.custom-navbar .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  background: gray; /* Yellow Underline */
  left: 50%;
  bottom: -5px;
  transition: all 0.3s ease;
  transform: translateX(-50%);
}

.custom-navbar .nav-link:hover {
  color: red !important; /* Yellow text on hover */
  transform: scale(1.05);
}

.custom-navbar .nav-link:hover::after {
  width: 60%;
}

/* Active Link Effect */
.custom-navbar .nav-link.active {
  /* color: green!important; */
  font-weight: bold;
  color: red !important; /* Yellow text on hover */
  /* font-size: 20px; */
}
/* Custom Toggler Animation */
.custom-toggler {
  border: none !important;
  transition: transform 0.3s ease-in-out;
  background: none;
}

.custom-toggler.open {
  transform: rotate(90deg);
}

/* Ensure Navbar Links are Visible on Full Screen */
@media (min-width: 992px) {
  .animated-navbar {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
    display: flex !important;
  }
}


.error-box {
  color: red;
  background: #ffe6e6;
  border: 1px solid red;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
}